/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    outline: none;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 14px;
    font-family: Arial, helvetica, sans-serif; /*TODO Promjeniti u DINPro */
}
p {
    line-height: 1.2rem;
}
h1 {
    font-family: "Georgia", Times, sans-serif;
}
nav ul {
    list-style: none;
}
.row.wide {
    min-width: 1220px;
}
.row.wider {
    min-width: 1440px;
}
.bar {
    width: 100%;
}
    .bar.green {
        background: #005c34;
    }
    .bar.gray {
        background: #ebebe3;
    }
    .bar.violet {
        background: #250011;
    }
.link-arrow {
    color: #f37021;
    font-weight: bold;
}


/* INFO MENU */

.info-menu ul {
    margin: 0;
    font-size: 12px;
    list-style: none;
}
    .info-menu ul li {
        display: inline-block;
        margin: 5px 10px;
    }
    .info-menu a {
        text-transform: uppercase;
        color: #505251;

    }

.language-select {
    text-align: right;
}
    .language-select li {
        margin: 5px;
    }
.flag {
    display: block;
    width: 27px;
    height: 17px;
}
    .flag.serbia {
        background: url('../img/icons/serbia.png') center center no-repeat;
    }
    .flag.russia {
        background: url('../img/icons/russia.png') center center no-repeat;
    }
    .flag.unitedkingdom {
        background: url('../img/icons/unitedkingdom.png') center center no-repeat;
    }


.main-header {
    padding-top: 20px;
    width: 1340px;
    margin: auto;
    border-top: 1px solid #c2c3bf;
}
.logo {
    text-transform: uppercase;
    font-size: 14px;
    color: #231f20;
    font-family: Arial, helvetica, sans-serif;
    background: url('../img/greeny-logo-image.png') no-repeat;
}
    .logo img {
        float: left;
        margin-right: 25px;
    }
    .logo span {
        margin: 20px 0 0 130px;
        text-indent: -9999px;
        display: block;
        width: 141px;
        height: 44px;
        background: url('../img/greeny-logo.png') center center no-repeat;
    }

/* MAIN MENU */

.main-menu {
}
.main-menu ul {
    margin: 0;
    position: static;
}
    .main-menu > ul > li {
        display: inline-block;
        text-align: center;
        position: static;

    }
    .main-menu > ul > li > a {
        display: block;
        padding: 54px 0 7px;
        text-transform: uppercase;
        font-size: 18px;
        color: #250011;
        border-bottom: 8px solid transparent;
    }
        .main-menu > ul > li.active > a,
        .main-menu > ul > li:hover > a {
            border-bottom: 8px solid #f37021;
        }
    .main-menu ul .submenu {
        display: none;
        position: absolute;
        left: 0;
        top: 95px;
        background: #fff;
        z-index: 5;
        text-align: center;
        border-top: 2px solid #f37021;
    }
        .main-menu > ul > li:hover .submenu {
            display: block;
        }
    .main-menu .submenu li {
        width: 20%;
    }
        .main-menu .submenu li a {
            display: inline-block;
            padding: 1rem;
            text-align: center;
            color: #444;
            text-transform: uppercase;
            font-size: .9rem;
        }
            .main-menu .submenu li a:hover {
                color: #111;
            }
.main-menu .submenu {
    width: 100%;
    background: #fff;
}

/* MAIN BANNER */

.main-banner {
    position: relative;
    width: 90%;
    min-width: 1120px;
    margin: 0 auto;
}
    .main-banner .logo-image {
        position: absolute;
        left: -60px;
        width: 180px;
        height: 197px;
        background: url("../img/greeny-listovi-veliki.png") 0 0 no-repeat;
        z-index: 999;
    }
    .main-banner .caption-wrapper {
        min-width: 244px;
        float: left;
        width: 19%;
        padding-left: 50px;
    }
        .main-banner .caption-wrapper article {
            padding: 80px 10px 0;
            color: #fff;
            font-size: 14px;
            line-height: 15px;
        }
        .main-banner .caption-wrapper hgroup {
            margin-bottom: 20px;
        }
        .main-banner .caption-wrapper h1 {
            margin: 0;
            color: #fff;
            font-size: 48px;
            line-height: 48px;
        }
        .main-banner .caption-wrapper h2 {
            margin: 0;
            color: #fff;
            font-size: 24px;
            line-height: 28px;
        }
    .main-banner .image-wrapper {
        float: right;
        width: 80%;
        text-align: right;
        min-width: 975px;
        margin-right: -20px;
    }
        .main-banner .image-wrapper img {
            width: 100%;
        }
    .banner-line {
        position: absolute;
        width: 100%;
        z-index: 3;
    }
    .banner-line.top {
        top: -2px;
        height: 2px;
        background: #f37021;
    }
    .banner-line.bottom {
        bottom: 0;
        height: 8px;
        background: #250011;
    }

/* SLIDER */

.slider-menu ul {
    margin: 0;
    font-size: 14px;
}
    .slider-menu ul li {
        border-left: 1px solid #cdcdc7;
    }
        .slider-menu ul li:last-child {
            border-right: 1px solid #cdcdc7;
        }
        .slider-menu ul li.active .slide-number {
            color: #8dc43f;
        }
        .slider-menu ul li a {
            display: block;
            color: #5f6266;
            padding-bottom: 5px;
        }
    .slider-menu .slide-number {
        padding: 0 10px 0 0;
        font-size: 24px;
        font-family: "Georgia", Times, sans-serif;
    }

/* CATEGORY HEADER */

.category-header .caption-wrapper h1 {
    font-size: 26px;
    line-height: 30px;
}

/* MAIN WRAPPER */

.main-wrapper {
    position: relative; /* TODO ispraviti sliku preko linije */
}

/* MAIN SIDEBAR */

.main-sidebar {
    width: 245px;
    padding: 20px 0 50px 25px;
    margin: 0 0 50px;
    border-right: 1px solid #888b88;
    text-transform: uppercase;
}
    .main-sidebar ul {
         margin: 0;
    }
        .main-sidebar ul ul ul {
            border-top: 1px solid #dbdcdb;
        }
        .main-sidebar nav > ul > li {
            border-bottom: 1px solid #dbdcdb;
        }
    .main-sidebar nav a {
        display: inline-block;
        width: 175px;
        padding: 5px 0;

        color: #58595b;
    }
        .main-sidebar nav ul ul a {
            padding-left: 20px;
        }

/* MAIN CONTENT */

.main-content {
    width: 975px;
}
.main-content article {
   padding-left: 35px;
}
    .article-title {
        padding-left: 35px;
        margin: 0;
        background: #ebebe3;
        line-height: 65px;
        font-size: 40px;
        color: #58595b;
    }
.article-menu ul {
    display: inline-block;
    margin: 0 0 0 35px;
    border-top: 1px solid #dbdcdb;
}
    .article-menu ul li {
        display: inline-block;
        padding: 5px 10px;
        margin: 0;
        text-transform: uppercase;
        border-right: 1px solid #dbdcdb;
    }
        .article-menu ul li a {
            color: #58595b;
        }
.main-content .article-content {
    width: 500px;
    margin: 30px 0 50px;
    font-size: 14px;
}
    .main-content .article-content h2 {
        font-size: 18px;
        color: #58595b;
        text-transform: uppercase;
        font-weight: normal;
    }
    .main-content .article-content h3 {
        margin: 10px 0 0 0;
        font-size: 14px;
        color: #6d6e71;
        text-transform: uppercase;
        font-weight: normal;
    }
    .main-content .article-content p {
        margin: 0;
    }
    .main-content .article-content a {
        color: #f37021;
        font-style: italic;
    }
        .main-content .article-content a.article-link {
            display: inline-block;
            margin-top: .5rem;
        }
    .main-content .article-content ul {
        margin-left: 2rem;
    }
        .main-content .article-content ul li {
            font-weight: normal;
        }
    .main-content .article-content article {
        margin: 20px 0;
    }
    .main-content .article-content .main-map {
        height: 300px;
        margin-bottom: 2rem;
    }

/* -- POCETNA */

.top-promo {
    position: relative;
    margin-top: 50px;
    border-top: 1px solid #c2c3bf;
    padding: 30px 0;
}
    .top-promo .promo-logo {
        position: absolute;
        top: -60px;
        left: 50px;
        z-index: 6;
    }
    .top-promo p {
        margin: 0;
    }
    .top-promo .button {
        margin: 0;
        background: #c8d32e;
        text-transform: uppercase;
        padding: .7rem 1rem;
    }
        .top-promo .button:hover {
            background: #ed7a26;
        }

/* -- LINK BLOCKS */

.link-blocks {
    margin: 0;
    list-style: none;
}
    .link-blocks li {
        display: inline-block;
        float: left;
    }
        .link-blocks li a {
            position: relative;
            display: inline-block;
            width: 244px;
            height: 245px;
        }
            .link-blocks li a span {
                position: absolute;
                left: 0;
                top: 120px;
                width: 244px;
                padding: 20px;
                color: #fff;
                z-index: 5;
                line-height: 1rem;
                font-size: .9rem;
            }

/* -- PROMO SOK */

.promo-sok {
    margin-top: 50px;
    margin-bottom: 93px;
    border-top: 1px solid #c2c3bf;
    border-bottom: 1px solid #c2c3bf;
}
    .promo-sok .sok-logo {
        position: absolute;
        top: -50px;
    }
    .promo-sok article {
        padding: 40px 10px 20px;
    }
        .promo-sok article p {
            margin-bottom: .5rem;
        }

/* GALLERY */

.main-gallery {
    position: relative;
}
    .main-gallery ul {
        list-style: none;
        margin: 0;
    }
    .main-gallery .gallery-caption {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem 2rem 1.5rem;
        margin: 0;
        background: rgba(0, 92, 52, .7);
        color: #fff;
    }
.gallery-navigation {
    position: absolute;
    top: 40%;
    width: 100%;
}
    .gallery-navigation a {
        height: 65px;
        width: 30px;
        display: inline-block;
        text-indent: -9999px;
    }
        .gallery-navigation .gallery-arrow-left {
            background: url(../img/galerija-strelica-lijevo.png) center center no-repeat;
        }
            .gallery-navigation .gallery-arrow-left:hover {
                background: url(../img/galerija-strelica-lijevo-hover.png) center center no-repeat;
            }
        .gallery-navigation .gallery-arrow-right {
            background: url(../img/galerija-strelica-desno.png) center center no-repeat;
        }
            .gallery-navigation .gallery-arrow-right:hover {
                background: url(../img/galerija-strelica-desno-hover.png) center center no-repeat;
            }
.gallery-albums {

}
    .gallery-albums ul {
        list-style: none;
        margin: 0 0 80px 0;
    }
        .gallery-albums li {
            position: relative;
            display: inline-block;
            float: left;
            width: 244px;
            height: 245px;
        }
            .gallery-albums a .thumb-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 92, 52, .7);
            }
                .gallery-albums a:hover .thumb-overlay,
                .gallery-albums a.active .thumb-overlay {
                    display: none;
                }
            .gallery-albums .album-name {
                position: absolute;
                bottom: -40px;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                color: #444;
            }


/* FOOTER */

.main-footer {
    min-height: 175px;
    padding-top: 30px;
    color: #fff;
    font-size: .9rem;
}
    .main-footer ul {
        margin: 0;
        list-style: none;
    }
        .main-footer ul li {
            display: inline-block;
            padding: 0 10px;
            font-size: .9rem;
        }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
